.level-high,
.level-very_high {
  --daqi-main-color: #e44c53;
  --daqi-main-text: white;
  --daqi-pale-color: #f8dfe0;
  --daqi-pale-text: black;
}

.level-moderate {
  --daqi-main-color: #feda53;
  --daqi-main-text: black;
  --daqi-pale-color: #fef6cd;
  --daqi-pale-text: black;
}

.level-low {
  --daqi-main-color: #5c9766;
  --daqi-main-text: white;
  --daqi-pale-color: #ebf3ed;
  --daqi-pale-text: black;
}
