@use "variables";

.educational-style {
  padding: calc(var(--unit) * 6) calc(var(--unit) * 4.5) calc(var(--unit) * 3);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-colour-800);
  color: white;

  #hero-block {
    display: flex;

    #hero-text {
      font-size: calc(var(--unit) * 6.75);
      font-weight: bold;
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit) * 6);
    }
  }

  #cta-block {
    margin-top: auto;
    padding-top: calc(var(--unit) * 1.5);
    display: flex;
    flex-direction: row;
    gap: calc(var(--unit) * 3);
    justify-content: space-between;
    border-top: calc(var(--unit) * 0.3) solid white;

    #cta-text-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #cta-text {
        display: block;
        font-size: calc(var(--unit) * 2.5);
        font-weight: bold;
        text-wrap: balance;
      }

      #cta-url {
        display: block;
        margin-top: calc(var(--unit) * 1);
        font-size: calc(var(--unit) * 2);
      }
    }

    #qr-code-block {
      width: calc(var(--unit) * 12);

      canvas {
        max-width: 100%;
        height: auto !important;
      }
    }
  }
}
