@use "variables";

.subscription-actionable-style {
  padding: calc(var(--unit) * 6) calc(var(--unit) * 4.5) calc(var(--unit) * 4.5);
  display: flex;
  flex-direction: column;
  height: 100%;

  #hero-block {
    color: var(--main-colour-700);
    display: flex;
    gap: calc(var(--unit) * 3);
    margin-bottom: calc(var(--unit) * 4.5);

    #hero-text {
      font-size: calc(var(--unit) * 6);
      font-weight: bold;

      em {
        text-decoration: underline;
        font-style: normal;
      }
    }

    #qr-code-block {
      width: calc(var(--unit) * 35);
      margin-top: calc(var(--unit) * 1);

      canvas {
        max-width: 100%;
        height: auto !important;
      }
    }
  }

  #info-block {
    font-size: calc(var(--unit) * 4.5);
    color: var(--main-colour-500);
    margin-bottom: calc(var(--unit) * 4);
    flex-grow: 1;

    ul {
      list-style-type: disc;
      margin-left: calc(var(--unit) * 3.5);

      li {
        margin-bottom: calc(var(--unit) * 3);
      }
    }
  }

  #cta-block {
    font-size: calc(var(--unit) * 3);
    border-top: calc(var(--unit) * 0.3) solid var(--main-colour-700);
    padding-top: calc(var(--unit) * 1.5);
  }
}
