@use "variables";

.subscription-reflexive-style {
  padding: calc(var(--unit) * 6) calc(var(--unit) * 4.5) calc(var(--unit) * 3);
  display: flex;
  flex-direction: column;
  height: 100%;

  #hero-block {
    color: var(--main-colour-700);
    display: flex;
    gap: calc(var(--unit) * 3);
    margin-bottom: calc(var(--unit) * 4.5);

    #hero-text {
      font-size: calc(var(--unit) * 8);
      font-weight: bold;

      em {
        text-decoration: underline;
        font-style: normal;
      }
    }
  }

  #info-block {
    font-size: calc(var(--unit) * 7);
    line-height: 1.1;
    color: var(--main-colour-500);
    position: relative;
    margin-bottom: calc(var(--unit) * 1.5);
    flex-grow: 1;

    em {
      text-decoration: underline;
      font-style: normal;
    }

    #channel-icons {
      margin-top: calc(var(--unit) * 3);

      img {
        width: calc(var(--unit) * 7.5);
        height: calc(var(--unit) * 7.5);
      }
    }

    img.arrow {
      position: absolute;
      right: 0;
      top: calc(var(--unit) * 4); // ~half the height of the text
      height: calc(100% - calc(var(--unit) * 4));
    }
  }

  #cta-block {
    font-size: calc(var(--unit) * 3);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: calc(var(--unit) * 2);

    #qr-code-block {
      width: calc(var(--unit) * 12);

      canvas {
        max-width: 100%;
        height: auto !important;
      }
    }
  }
}
