@use "variables";
@use "reset";
@use "daqi-levels";
@use "alert-style";
@use "subscription-actionable-style";
@use "subscription-reflexive-style";
@use "educational-style";

html {
  transform: rotate(var(--rotation, 0deg)) translate(var(--translate-x, 0), 0);
  transform-origin: top left;
  background-color: white; // JCD displays otherwise default to black
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: var(--full-height);
  width: var(--full-width);
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  main {
    display: flex;
    flex-direction: column;
    height: var(--full-height);
    width: var(--full-width);
    max-width: none;
    overflow: hidden;
  }

  footer {
    display: flex;
    height: calc(var(--unit) * 9);
    max-height: 500px;
    max-width: var(--full-width);

    > div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: calc(var(--unit) * 1);
      box-sizing: border-box;
    }

    #airtext-logo-block {
      background: var(--main-colour-700);
      padding: calc(var(--unit) * 1.5) calc(var(--unit) * 6);
      flex: 1;

      &.black-white {
        background: rgb(0 0 0 / 65%);
      }
    }

    #partner-logo-block {
      background: var(--main-colour-400);
      padding: calc(var(--unit) * 1.5) calc(var(--unit) * 3);
      flex: 3;

      &.black-white {
        background: rgb(0 0 0 / 25%);
      }

      img {
        max-width: 33%; // Each logo can take up to a third of the space
      }
    }

    img {
      max-height: 65%;
      max-width: 100%;
    }
  }
}
