name: CI Checks

on:
  pull_request:
    branches:
      - master
  push:

jobs:
  lint-and-format:
    name: Lint and format application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "24.13.0"
      - name: Install dependencies
        run: yarn install
      - name: Run ESLint
        run: yarn run lint:js
      - name: Run Stylelint
        run: yarn run lint:css
      - name: Run Prettier
        run: yarn run lint:format

  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run Yarn audit
        run: yarn audit

  specs:
    name: Specs and coverage
    runs-on: ubuntu-latest
    env:
      CI: 1
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "24.13.0"
      - name: Install dependencies
        run: yarn install
      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps firefox
      - name: Run Playwright tests
        run: yarn test
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  shellcheck:
    name: Lint scripts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "24.13.0"
      - name: Run Shellceck
        run: yarn run lint:scripts
