name: CI Checks

on:
  pull_request:
    branches:
      - master
  push:

jobs:
  lint-and-format:
    name: Lint and format application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "22.21.1"
      - name: Install dependencies
        run: yarn install
      - name: Run ESLint
        run: yarn run lint:js
      - name: Run Stylelint
        run: yarn run lint:css
      - name: Run Prettier
        run: yarn run lint:format

  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Run Yarn audit
        run: yarn audit

  specs:
    name: Specs and coverage
    runs-on: ubuntu-latest
    env:
      CI: 1
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "22.21.1"
      - name: Install dependencies
        run: yarn install
      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps firefox
      - name: Run Playwright tests
        run: yarn test
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  shellcheck:
    name: Lint scripts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Run Shellceck
        run: |
          for file in $(git ls-files scripts/*)
          do shellcheck -x "$file"
          done
